{% extends "base.html" %}

{% block content %}
    <h3 class="top_main_heading">Links</h3>

    <ul>
        <li><a href="http://www.uscis.gov">US Citizenship & Immigration Services</a></li>
        <li><a href="http://www.state.gov">US State Department</a></li>
        <li><a href="http://www.aila.org">American Immigration Lawyers Association</a></li>
        <li><a href="http://www.hrw.org">Human Rights Watch</a></li>
        <li><a href="http://www.amnesty.org">Amnesty International</a></li>
        <li><a href="http://www.seedsofpeace.org">Seeds of Peace</a></li>
        <li><a href="http://www.unicef.org">UNICEF</a></li>
        <li><a href="http://www.alcoholics-anonymous.org">Alcoholics-Anonymous</a></li>
        <li><a href="http://www.un.org">United Nations</a></li>
        <li><a href="http://www.nothingbutnets.net">Nothing But Nets</a></li>
    </ul>

    <p>&nbsp;</p>
{% endblock %}
